node_modules
.next
out
build
.DS_Store
*.pem

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.env
.env*.local

next-env.d.ts
tsconfig.tsbuildinfo

# Local SQLite database
prisma/dev.db
prisma/dev.db-journal
*.db
*.db-journal

# Uploaded creative
/public/uploads/*
!/public/uploads/.gitkeep
